{% assign show_featured_product =
collection.metafields.accentuate.show_featured_product %}
{% assign active_links = linklists.main-menu.links | where_exp: "levels > 0" %}

{% assign display_subnav = false %}

{% for link in linklists.main-menu.links %}
  {% if link.active or link.child_active %}
    {% if link.levels > 0 %}
      {% assign display_subnav = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% if display_subnav %}
  <nav
    data-nav
    class="CollectionSubnav__tabs flex-wrap border-top-black uppercase sans-serif sticky py_5 px_625 md:px_75 text-nav bg-color-white w100 z-nav flex flex-row items-center"
  >
    {% for link in linklists.main-menu.links %}
      {% if link.active or link.child_active %}
        {% for child_link in link.links %}
        <a
          class="CollectionSubnav__button radius-xs nav-button-padding {% if forloop.last == false %} mr_75 {% endif %} {% if child_link.active %} CollectionSubnav__button--active {% endif %}"
          href="{{ child_link.url }}">
          {{ child_link.title }}
        </a>
        {% endfor %}
      {% endif %}
    {% endfor %}
  </nav>
{% endif %}

<h1 class="safe-visibility-hidden">{{ collection.title }}</h1>
<div
  class="grid {% if show_featured_product %} grid--style-first-cell-enlarged {% endif %}"
>
  <!-- this liquid logic allows us to show more than 50 products in a collection page without pagination -->
  <!-- 1000 is an arbitrary large number used so we won't run into a limit in the future -->
  {% paginate collection.products by 1000 %} {% for product in
  collection.products %} {% render 'product-grid-item', current_product:
  product, show_featured_product: show_featured_product %} {% endfor %} {%
  endpaginate %}
</div>
