{% render 'home-header' %}

{% assign show_featured_product = collections.frontpage.metafields.accentuate.show_featured_product %}

{% if show_featured_product %}
  <div class="grid grid--style-featured-product">
    {% else %}
    <div class="grid">
{% endif %}
  {% for product in collections.frontpage.products %}
    {% render 'product-grid-item', current_product: product, show_featured_product: show_featured_product %}  
  {% endfor %}
</div>
