{% assign news_feed_limit = shop.metafields.accentuate.news_feed_on_news_page_limit %}
<div class="News">
  <h1 class="page-heading site-margin-x uppercase serif-mega">{{ page.title }}</h1>
  <div class="News__content">
    {% render 'news-feed' limit: limit %}
  </div>
</div>
