{% assign has_black_background = page.metafields.accentuate.has_black_background %}
{% assign content_modules = page.metafields.accentuate.page_content.references %}

<div class="Page site-padding-x {% if has_black_background %}Page--style-black {% endif %}">
  <h1 class="uppercase serif-mega">{{ page.title }}</h1>
    <div class="Page__content pt2_5 pb2">
      {% for module in content_modules %}
        {% assign referenced_fields = shop.metafields.acf_settings.global.fields | where: "section_name", module.section %}
        {% assign section = module.section %}
        {% case section %}
        {% when 'page_markdown' %} 
          {% render 'markdown' classes: 'Markdown--style-block-content' markdown: shop.metafields.globals['page_markdown'][module.index].html %}  
        {% when 'image_module' %}
          {% render 'image-caption-module' module: module %}
        {% endcase %}
      {% endfor %}
    </div>  
</div>
