{% assign variant = page.metafields.accentuate.page_styling_variant %}
{% assign content_modules = page.metafields.accentuate.page_content.references %}

<div class="Page site-padding-x {% if variant == 'black-bg' %}Page--style-black-bg color-white bg-color-black {% else %} Page--style-white-bg {% endif %}">
  <h1 class="page-heading uppercase serif-mega">{{ page.title }}</h1>
    <div class="Page__content pb2 {% if variant == 'black-bg' %}col-12 md:col-9 {% endif %}">
      {% for module in content_modules %}
        {% assign referenced_fields = shop.metafields.acf_settings.global.fields | where: "section_name", module.section %}
        {% assign section = module.section %}
        {% case section %}
        {% when 'page_markdown' %}
          {% render 'markdown' variant: variant markdown: shop.metafields.globals['page_markdown'][module.index].html %}
        {% when 'image_module' %}
          {% render 'image-caption-module' module: module styling: variant %}
        {% endcase %}
      {% endfor %}
    </div>
</div>

{% render 'patron-slider' %}