{% assign current_variant = product.selected_or_first_available_variant %}
{% assign featured_image = current_variant.featured_image | default: product.featured_image %}
{% assign related_products_heading = product.metafields.accentuate.related_products_heading %}
{% assign related_products_handles = product.metafields.accentuate.related_products | split: '|' %}
{% assign product_description = product.metafields.accentuate.product_description %}

<div class="Product pt1 md:pt1_25">
  <div class="Product_hero border-bottom-black flex flex-col md:flex-row md:pb_625">
    {% render 'product-info' product: product %}
    {% if product.images.size > 1 %}
      {% include 'product-images-slider' %}
    {% else %}
      <div class="Product__hero-image-outer-container px_625 md:px0 col-12 md:col-9 md:mr_625">
        <div class="Product__hero-image-container radius-xl flex items-center justify-center p2 md:p3 bg-color-black h100">
          <img src="{{ featured_image | img_url: '1200x' }}" alt="{{ featured_image.alt | escape }}" id="ProductPhotoImg" class="fit-contain w100">
        </div>
      </div>
    {% endif %}
    <div class="flex flex-col md:none">
      {% render 'product-instructor' product: product %}
      <div class="px_625 pt1_875">
        {% render 'product-text-fields' product: product %}
      </div>
      {% render 'add-to-cart-container' data_selector: 'data-mobile-product-add-to-cart-button' product: product %}
    </div>
  </div>

  {% render 'product-description' product: product %}
  {% if related_products_heading %}
    <div class="site-padding-x uppercase color-black serif-xl pb2_5">{{ related_products_heading }}</div>
  {% endif %}
  <div class="grid grid--style-padding-x-0 bg-color-white pt_125">
    {% for related_products_handle in related_products_handles %}
      {% render 'product-grid-item', current_product: all_products[related_products_handle] %}  
    {% endfor %}
  </div>
</div>
