$colors: (
  'black': #000000,
  'yellow': #fff84f,
  'white': #ffffff,
  'gray': #cccccc,
  'red': #FF0000,
  'green': #68E33D,
  'transparent': rgba(255, 255, 255, 0),
);

$spacing-units: 0rem, 0.125rem, 0.25rem, 0.5rem, 0.625rem, 0.75rem, 1rem, 1.25rem, 1.5rem, 1.75rem, 1.875rem, 2rem,
  2.5rem, 2.75rem, 3rem, 3.5rem, 3.75rem, 4rem, 4.375rem, 5rem, 6rem, 7rem, 8rem, 10rem;

$breakpoints: (
  'xxs': 375px,
  'xs': 600px,
  'sm': 768px,
  'md': 900px,
  'lg': 1024px,
  'xl': 1440px,
  'xxl': 2600px,
);

$additional-class-definitions: (
  'debug': (
    border: 1px solid red,
  ),
  'safe-visibility-hidden': (
    position: absolute,
    text-indent: -10000px,
    white-space: nowrap,
    top: auto,
    width: 1px,
    height: 1px,
    overflow: hidden,
  )
);
