.button--style-primary {
  @extend %transition-shorter;
  border-radius: 0.75rem;
  border: 1px solid color('black');
  text-transform: uppercase;
  color: color('black');
  text-decoration: none;

  &:hover {
    background-color: color('black');
    color: color('white');
  }
}
