//* Global Padding */
.site-padding-x {
  padding-left: $site-padding-x-mobile;
  padding-right: $site-padding-x-mobile;

  @include media('md-up') {
    padding-left: $site-padding-x-desktop;
    padding-right: $site-padding-x-desktop;
  }
}

.site-margin-x {
  margin-left: $site-padding-x-mobile;
  margin-right: $site-padding-x-mobile;

  @include media('md-up') {
    margin-left: $site-padding-x-desktop;
    margin-right: $site-padding-x-desktop;
  }
}

//* Borders */
.border-white {
  border: 1px solid color('white');
}

.border-thick-top-white {
  border-top: 2px solid color('white');
}

.border-thick-bottom-white {
  border-bottom: 2px solid color('white');
}

.border-black {
  border: 1px solid color('black');
}

.border-thick-black {
  border: 2px solid color('black');
}

.border-top-black {
  border-top: 1px solid color('black');
}

.border-left-black {
  border-left: 1px solid color('black');
}

.border-right-black {
  border-right: 1px solid color('black');
}

.border-bottom-black {
  border-bottom: 1px solid color('black');
}

.border-thick-top-black {
  border-top: 2px solid color('black');
}

.border-bottom-black {
  border-bottom: 1px solid color('black');
}

.border-thick-bottom-black {
  border-bottom: 2px solid color('black');
}

.dot-sm,
%dot-sm {
  height: 0.8125rem;
  width: 0.8125rem;
  background-color: color('white');
  border-radius: 50%;
  display: inline-block;
}

.dot-lg {
  @extend %dot-sm;

  @include media('lg-up') {
    height: 1.75rem;
    width: 1.75rem;
    background-color: color('white');
    border-radius: 50%;
    display: inline-block;
  }
}

//* Product Grid */
.grid {
  display: grid;
  padding-left: 0.125rem;
  padding-right: 0.125rem;
  gap: 0.125rem;
  grid-template-columns: 1fr;

  @include media('md-up') {
    grid-template-columns: repeat(3, 1fr);
  }

  &--style-padding-x-0 {
    padding-left: 0;
    padding-right: 0;
  }
  
  &--style-first-cell-enlarged {
    @include media('lg-up') {
      > :first-child {
        grid-column: 1/3;
        grid-row: 1/3;

        .ProductGridItem__image {
          min-height: 31.25rem;
        }
      }
    }
  }
}

.hyphens {
  hyphens: auto;
}

.nav-button-padding {
  padding: 0.1875rem;

  @include media('md-up') {
    padding: 0.15rem 0.25rem;
  }
}
