/** Families */
.serif {
  font-family: $serif;
  font-weight: 300;
}

.sans-serif, .sans-serif-light {
  font-family: $sans-serif;
}

.sans-serif {
  font-weight: 400;
}

.sans-serif-light {
  font-weight: 300;
}

/** Sizes */
.serif-mega, .serif-xxl, .serif-xl, .serif-lg, .serif-md, .serif-sm, .serif-xs {
  @extend .serif;
}

.sans-xs, .sans-xxs, .sans-xxxs {
  @extend .sans-serif;
}

.sans-light-mega, .sans-light-xxl, .sans-light-md, .sans-light-sm {
  @extend .sans-serif-light;
}

//Serif
.serif-mega {
  font-size: 4.6875rem;
  line-height: 4.6875rem;

  @include media('lg-up') {
    font-size: 9.375rem;
    line-height: 9.375rem;
  }
}

.serif-xl,
%serif-xl {
  font-size: 2.5rem;
  line-height: 2.625rem;

  @include media('lg-up') {
    font-size: 4.6875rem;
    line-height: 4.6875rem;
  }
}

.serif-lg,
%serif-lg {
  font-size: 1.125rem;
  line-height: 1.35rem;
  letter-spacing: 0.0275rem;

  @include media('lg-up') {
    font-size: 3.125rem;
    line-height: 2.8125rem;
  }
}

.serif-md,
%serif-md {
  font-size: 1.125rem;
  line-height: 1.35rem;
  letter-spacing: 0.0275rem;

  @include media('lg-up') {
    font-size: 2.5rem;
    line-height: 2.625rem;
  }
}

.serif-sm,
%serif-sm {
  font-size: 2rem;
  line-height: 2.1rem;

  @include media('lg-up') {
    font-size: 2.5rem;
    line-height: 2.625rem;
  }
}

.serif-xs,
%serif-xs {
  font-size: 1.125rem;
  line-height: 1.35rem;
  letter-spacing: 0.0275rem;
}

//Sans-Serif Regular
.sans-xs,
%sans-xs {
  font-size: 1rem;
  line-height: 1.25125rem;
  letter-spacing: -0.0275rem;
}

.sans-xxs {
  font-size: 0.75rem;
  line-height: 0.938125rem;
  letter-spacing: -0.0275rem;
}

.sans-xxxs {
  font-size: 0.5625rem;
  line-height: 0.70375rem;
  letter-spacing: -0.0275rem;
}

//Sans-Serif Light
.sans-light-mega {
  font-size: 9.375rem;
  line-height: 8.4375rem;
}

.sans-light-xxl {
  font-size: 6.25rem;
  line-height: 5.625rem;
}

.sans-light-lg,
%sans-light-lg {
  font-size: 3.125rem;
  line-height: 2.8125rem;

  @include media('lg-up') {
    font-size: 4.0625rem;
    line-height: 3.65625rem;
  }
}

.sans-light-md,
%sans-light-md {
  font-size: 1.875rem;
  line-height: 1.6875rem;

  @include media('lg-up') {
    font-size: 3.125rem;
    line-height: 2.8125rem;
  }
}

.sans-light-sm,
%sans-light-sm {
  font-size: 1rem;
  line-height: 1.171875rem;
  letter-spacing: 0.0275rem;

  @include media('lg-up') {
    font-size: 1.875rem;
    line-height: 1.6875rem;
  }
}

.text-nav {
  font-size: 1.875rem;
  line-height: 1.6875rem;
  font-weight: 300;

  @include media('xl-up') {
    font-size: 3.125rem;
    line-height: 2.8125rem;
  }
}
