/** Fonts */
$logo: IndexLogotype, serif;
$serif: ITCGaramondStdLtCond, serif;
$sans-serif: ABCDiatypeLight, sans-serif;

/** Sizing */
$margin-offset-sm: 0.3125rem;
$margin-offset-md: 0.9375rem;
$site-padding-x-mobile: 0.5rem;
$site-padding-x-mobile-double: 1rem;
$site-padding-x-desktop: 1.125rem;
$site-padding-x-desktop-double: 2.25rem;
$product-grid-vendor-avatar-height-mobile: 1.5rem;
$product-grid-vendor-avatar-height-desktop: 2.9375rem;
$product-vendor-avatar-width: 2.375rem;
$product-vendor-avatar-height: 2.5rem;
$product-description-max-width: 65rem;

/** Heights */
$nav-height: 3.0625rem;
$nav-height-md: 3.036875rem;
$nav-height-lg-xl: 3.875rem;

$product-tabs-height: 3.1125rem;
$product-tabs-height-md: 3.2244rem;
$product-tabs-height-lg-xl: 4.3494rem;

$cart-checkout-container-height: 3.5625rem;
$cart-checkout-container-height-lg: 3.875rem;

$border-offset: 0.125rem;
