/** Fonts */

$serif: ITCGaramondLight, serif;
$sans-serif: ABCDiatypeLight, sans-serif;

/** Sizing */
$site-padding-x-mobile: 0.625rem;
$site-padding-x-mobile-double: 1.25rem;
$site-padding-x-desktop: 1.25rem;
$site-padding-x-desktop-double: 2.5rem;
$vendor-avatar-height-mobile: 1.5rem;
$vendor-avatar-height-desktop: 2.9375rem;
