/** Fonts */
$logo: IndexLogotype, serif;
$serif: ITCGaramondStdLtCond, serif;
$sans-serif: ABCDiatypeLight, sans-serif;

/** Sizing */
$margin-offset-sm: 0.3125rem;
$margin-offset-md: 0.9375rem;
$site-border: 0.125rem;
$site-padding-x-mobile: 0.5rem;
$site-padding-x-mobile-double: 1rem;
$site-padding-x-desktop: 1.125rem;
$site-padding-x-desktop-double: 2.25rem;
$vendor-avatar-height-mobile: 1.5rem;
$vendor-avatar-height-desktop: 2.9375rem;
$product-description-max-width: 65rem;

/** Heights */
$nav-height: 2.925rem;
$nav-height-md: 3.036875rem;
$nav-height-lg: 3.875rem;

$cart-checkout-container-height: 3.875rem;

$border-offset: 0.125rem;

