<div class="Cart__empty h100 flex flex-col justify-between">
  <div class="flex flex-1 items-center justify-center">
    <img class="Cart__empty--image w100 self-center" alt={{ 'snippets.cart.empty_image.alt' | t }} src="{{ 'squiggly.png' | asset_url }}" />
  </div>
  <div>
    <p class="Cart__empty--copy p_75 col-11">
      There's nothing in your cart but we've got lots of <a class="underline hover-lighten-black transition" href="/collections/offerings-collection">books</a>, <a class="underline hover-lighten-black transition" href="/collections/offerings-collection">classes</a>, <a class="underline hover-lighten-black transition" href="/collections/offerings-collection">categories</a>, <a class="underline hover-lighten-black transition" href="/collections/offerings-collection">cats</a>, <a class="underline hover-lighten-black transition" href="/collections/offerings-collection">dogs</a>, <a class="underline hover-lighten-black transition" href="/collections/offerings-collection">lorems</a>, <a class="underline hover-lighten-black transition" href="/collections/offerings-collection ">ipsums</a>, and <a class="underline hover-lighten-black transition" href="/collections/offerings-collection">dolors</a>.
    </p>
  </div>
</div>
