<section aria-label="{{ 'snippets.cookie_consent.aria_label' | t }}">
  <button class="CookieConsent z-overlay bg-color-transparent" data-cookie-consent>
    <img src="{{ 'cookie-consent.png' | asset_url }}" alt= "{{ 'snippets.cookie_consent.alt' | t }}"/>
  </button>  
</section>