<span data-email-subscribe-container class="EmailSubscribe flex md:inline-flex items-center justify-between bg-color-black color-white radius-sm p_625">
  <input data-email-subscribe-input class="EmailSubscribe__input sans-serif sans-light-sm bg-color-transparent color-white col-12" type="email" placeholder="{{ 'snippets.email_subscribe.input.placeholder' | t }}" />
  <span class="EmailSubscribe__submit-container debug inline-flex item-center h100">
    <input data-email-subscribe-submit class="EmailSubscribe__submit button--style-no-style sans-serif sans-light-sm uppercase color-white" type="submit" value="{{ 'snippets.email_subscribe.submit.icon' | t }}"/>    
  </span>
</span>
