<span data-email-subscribe-container class="EmailSubscribe flex md:inline-flex items-center justify-between bg-color-black color-white radius-xs">
  <input data-email-subscribe-input class="EmailSubscribe__input sans-serif bg-color-transparent color-white col-12 pl_75 pointer" type="email" placeholder="{{ 'snippets.email_subscribe.input.placeholder' | t }}" />
  <label class="EmailSubscribe__label h100 relative"> 
    <input data-email-subscribe-submit class="EmailSubscribe__submit pointer w100 button--style-no-style uppercase color-white relative z-2 absolute t0 r0 l0 b0" type="submit" value="" />
    <span data-email-subscribe-submit-icon class="EmailSubscribe__glyph sans-light-xs absolute t0 r0 b0 l0 text-center">{{ 'snippets.email_subscribe.submit.icon' | t }}</span>
    <span data-email-subscribe-loader class="EmailSubscribe__loader absolute t0 r0 b0 l0 text-center"></span>
  </label>
</span>
