<span data-email-subscribe-container class="EmailSubscribe flex md:inline-flex items-center justify-between bg-color-black color-white radius-xs">
  <input data-email-subscribe-input class="EmailSubscribe__input sans-serif sans-light-sm bg-color-transparent color-white col-12 pl_75" type="email" placeholder="{{ 'snippets.email_subscribe.input.placeholder' | t }}" />
  <label class="h100"> 
    <input data-email-subscribe-submit class="EmailSubscribe__submit button--style-no-style sans-serif sans-light-sm uppercase color-white relative z-2" type="submit" value="" />
    <span data-email-subscribe-submit-icon class="EmailSubscribe__glyph sans-light-xs absolute r0 mr_75">{{ 'snippets.email_subscribe.submit.icon' | t }}</span>
  </label>
</span>
