  <div class="NewsFeed site-margin-x flex flex-col">
    <div class="NewsFeed__inner-container overflow-x-scroll flex flex-col border-top-black border-bottom-black">

    {% for value in shop.metafields.accentuate.news_feed_item_thumbnail %} 
 
      {{ value }}
      {% render 'news-feed-item', image_src: value_image_src image_alt: value.alt text: shop.metafields.accentuate.news_feed_item_text[forloop.index0], button_label: shop.metafields.accentuate.news_feed_item_link_label[forloop.index0], button_link: shop.metafields.accentuate.news_feed_item_link[forloop.index0] %}
    {% endfor %} 

    </div>
  
    <a class="uppercase serif-xl pt2 md:pt5 pb3 hover-lighten-black" href="/news" aria-label="{{ 'snippets.news_feed.see_more_link.aria_label' | t }}">{{ 'snippets.news_feed.see_more_link.text' | t }}</a>
  </div>
