<section class="patron-information text-center">
  <h1>The Index Patronage program is a pay-what-you-can sliding scale.</h1>
  <div
    class="
      patron-slider-container
      sans-serif sans-serif-light
      uppercase
      sans-light-sm
      text-center
      mt4
      mb2
    "
  >
    <div id="patron-slider slider-fit" data-patron-slider-container></div>
  </div>

  <div class="tier-info-container">
    <p data-patreon-tier class="tier-info serif pb1"></p>
    <p data-patreon-copy class="sans-light-xs sans-serif-light pb4"></p>
  </div>

  <a
    class="
      w100
      border-white
      color-white
      uppercase
      text-center
      sans-light-sm
      radius-xs
      bg-color-black
      pb_5
      pt_625
    "
    target="_blank"
    rel="noopener noreferrer"
    data-patreon-link
    href="https://www.patreon.com/index_space"
  >
    BECOME A PATRON
  </a>
</section>
