<div class="ProductImagesSlider">
  <div class="ProductImagesSlider__slider">
    {% for image in product.images %}
    <div class="ProductImagesSlider__img-container h100 py4 px1 sm:px2 md:px2 md:py4">
      <img class="ProductImagesSlider__img w100 fit-contain" src="{{ image | img_url: 'master' }}" alt="{{ image.alt }}" />
    </div>
    {% endfor %}
  </div>
</div>
