{% assign brief_product_description = product.metafields.accentuate.brief_product_description %}
{% assign product_price = product.price | money_without_trailing_zeros %}
{% if product.price == 0 %}
  {% assign product_price = 'snippets.product_info.free' | t %}
{% endif %}

<!-- Check if product already exists in cart -->
{% for item in cart.items %}
  {% if item.product.id == product.id %}
    {% assign produt_in_cart = true %}
    {% break %}
  {% else %}
    {% assign product_in_cart = false %}
  {% endif %}
{% endfor %}

<!-- Get product type -->
{% assign product_type = "" %}
{% if product.first_available_variant.metafields.bookings != blank %}
  {% assign product_type = product.first_available_variant.metafields.bookings.bookable_type %}
{% else %}
  {% assign product_type = product.type %}
{% endif %}

<div class="ProductInfo flex flex-col z-1 col-12 md:col-4 xl:col-3 px_625 md:pr1_25 md:pl_75">
  <span class="ProductInfo__product-details flex flex-col sans-light-sm color-black">
    <div class="serif flex flex-row justify-between {% if brief_product_description == blank %} pb1_25 {% endif %}">
      <h1 class="ProductInfo__title md:pr1_5">{{ product.title }}</h1>
      <span class="ProductInfo__price text-right uppercase">{{ product_price }}</span>
    </div>
    {% if brief_product_description != blank %}
      <span class="sans-xs pt1_25 pb1_25 md:pb1_875">
        {{ brief_product_description }}
      </span>
    {% endif %}
    <div class="none md:flex md:flex-col">
      {% render 'product-instructor' product: product %}
      {% render 'product-text-fields' product: product %}
    </div>
  </span>
  <div class="none md:flex md:flex-col">
    {% render 'add-to-cart-container' isDesktop: true, product: product %}
  </div>
</div>
