{% assign current_variant = product.selected_or_first_available_variant %}

<!-- Vendor attributes -->
{% assign product_type = "" %}
{% assign vendor_name = "" %}
{% assign vendor_avatar = "" %}

{% if current_variant.metafields.bookings != blank %}
  {% assign bookings_meta = current_variant.metafields.bookings %}
  {% assign product_type = bookings_meta.bookable_type %}

  {% case product_type %}
    {% when "Course" %}
      {% assign resource = bookings_meta.sessions.first.resources.first %}
      {% assign vendor_name = resource.formatted_name %}
      {% assign vendor_avatar = resource.avatar %}
    {% when "Event" %}
      {% assign resource = bookings_meta.resources.first %}
      {% assign vendor_name = resource.formatted_name %}
      {% assign vendor_avatar = resource.avatar %}
  {% endcase %}
{% endif %}

{% if current_variant.metafields.bookings != blank %}
  <span class="ProductInstructor color-black uppercase flex flex-row items-center pt1_25 md:pt0 pl_625 md:pl0 md:pb1_875">
    {% if vendor_avatar != blank %}
      <img class="ProductInstructor__avatar radius-xs lg:radius-sm w100 fit-cover" alt={{ 'snippets.product_vendor.avatar.alt' | t }} src={{vendor_avatar}} >
    {% endif %}
      <span class="flex flex-col">
        <span class="flex flex-col content-center">
          <span class="sans-xxxs pb_25">{{ 'snippets.product_vendor.instructor' | t }}</span>
          <span class="ProductInstructor__name">{{ vendor_name }}</span>
        </span>
      </span>
  </span>
{% endif %}
