<style>
  .splide__list:hover {
    cursor: url({{ 'dragger.svg' | asset_url }}), auto;
  }
</style>

<div data-product-image-slider class="ProductImagesSlider splide col-12 md:col-9 pl_625 md:pl1_25 bg-color-white">
	<div class="splide__track">
		<ul class="splide__list">
      {% for image in product.images %}
        <li class="splide__slide">
          <div class="pr_625">
            <img class="ProductImagesSlider__img overflow-hidden h100 fit-cover" src="{{ image | img_url: '1200x' }}" alt="{{ image.alt }}" />
          </div>
        </li>
      {% endfor %}
		</ul>
	</div>
</div>

