<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://public.radio.co/playerapi/jquery.radiocoplayer.min.js"></script>
<div
  id="Radio"
  class="Radio md:flex uppercase py_5 px_625 md:px_75 flex items-center justify-between bg-color-white w100 fixed b0 r0 l0 z-nav"
  data-src="https://s2.radio.co/s8a3652f0b/listen"
  data-autoplay="false"
  data-playbutton="true"
  data-volumeslider="false"
  data-elapsedtime="false"
  data-nowplaying="true"
  data-showplayer="true"
  data-volume="100"
  data-showartwork="false">
</div>
