.Product {
  &__hero-image-container img {
    max-height: 16rem;

    @include media('sm-up') {
      max-height: 30rem;
    }

    @include media('md-up') {
      max-height: 40rem;
    }
  }
  
  &__vendor-avatar {
    height: $product-vendor-avatar-height;
    width: $product-vendor-avatar-width;
  }

  &__description {
    max-width: $product-description-max-width;
    padding-bottom: 3.125rem;

    img {
      max-width: calc(100vw - #{$site-padding-x-mobile-double + $margin-offset-sm});

      @include media('md-up') {
        max-width: calc(100vw - #{$site-padding-x-desktop-double + $margin-offset-md});
      }
    }

    h1, h2, h3, p, ol, ul {
      font-family: $serif;
    }
  
    h4, h5 {
      font-family: $sans-serif;
    }
  
    h1, h2, h3, h4, h5, ol {
      padding-bottom: 2.8125rem;
      padding-top: 2.8125rem;
    }

    h1, h2  {
      @extend %serif-xl;
    }
  
    h3, p, ol, ul  {
      font-family: $serif;
      font-size: 2rem;
      line-height: 2.1rem;

      @include media('sm-up') {
        font-size: 2.5rem;
        line-height: 2.625rem;
      }
    }
  
    h4, h5 {
      text-transform: uppercase;
    }
  
    h4 {
      @extend %sans-light-md;
    }
  
    h5 {
      @extend %sans-light-sm;
    }

    h6 {
display:inline;
      font-family: $logo;
    }

    .test {
      font-family: $sans-serif;
      font-size: 1rem;
      line-height: 1.25125rem;
      letter-spacing: -0.0275rem;
    }

    p {
      padding-bottom: 1.5rem;

      @include media('md-up') {
        padding-bottom: 3rem;
      }
    }
    
    p, ol, ul, td {  
      /* Adds bottom border to links with additional padding between text and border */
      a {
        @extend .transition-shorter;
        font-family: $sans-serif;
        font-size: 2rem;
        line-height: 2.1rem;
        text-decoration: none;

        @include media('lg-up') {
          font-size: 2.5rem;
          line-height: 2.625rem;
        }

        &:hover {
          text-decoration: 1px solid color('white') underline;
          text-underline-position: under;
        }
      }
    }
  
    ul, ol {
      list-style-position: inside;
    }
    
    ul {
      list-style-type: none;
  
      li {
        &::before {
          content: "-";
          margin-right: 0.625rem;
        }
      }
    }

    table {
      width: calc(100vw - #{$site-padding-x-mobile-double});

      @include media('md-up') {
        width: calc(100vw - #{$site-padding-x-desktop-double});
      }

      border-collapse: collapse;
      border-top: 1px solid color('white');
      border-bottom: 1px solid color('white');
  
      tr {
        &:not(:last-of-type) {
          border-bottom: 1px solid color('white');
        }
  
        td {
          vertical-align: middle;
          padding: 1.25rem 0;
  
          @include media('lg-up') {
            padding: 1.6875rem 0;
          }
  
          &:first-child {
            padding-right: 2rem;
            font-family: $serif;
            font-size: 1.125rem;
            line-height: 1.35rem;
            letter-spacing: 0.0275rem;
  
            @include media('lg-up') {
              font-size: 3.125rem;
              line-height: 2.8125rem;
            }
          }
  
          &:last-child {
            @extend %sans-xs;
            font-family: $sans-serif;
  
            @include media('lg-up') {
              font-size: 1.875rem;
              line-height: 1.6875rem;
            }
          }
        }
      }
    }
    
    @include media ('lg-up') {
      padding-bottom: 12.5rem;
    }
  }
}
