.Product {
  &__hero-image-container img {
    max-height: 16rem;

    @include media('sm-up') {
      max-height: 30rem;
    }

    @include media('md-up') {
      max-height: 40rem;
    }
  }
  
  &__vendor-avatar {
    height: $vendor-avatar-height-mobile;
    width: $vendor-avatar-height-mobile;

    @include media('lg-up') {
      height: $vendor-avatar-height-desktop;
      width: $vendor-avatar-height-desktop;
    }
  }
}
