.AddToCartContainer {
  &__variant-select-wrapper, &__quantity-select-wrapper {    
      &::after {
        content: "▼";
        font-size: 1rem;
        pointer-events: none; /* ▼ click triggers dropdown */
        position: absolute;
        right: 1.125rem;
        top: 1.125rem;
        z-index: 1;
        transform: scale(1,0.75);
    }
  }

  &__error-message { 
    &--inactive {
      opacity: 0; 
      transform: translate3d(0, -0.25rem, 0);    
    }

    &--active {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    };
  }

  &__button {
    font-size: 1.875rem;
    line-height: 1.6875rem;
    letter-spacing: 0.0275rem;
  }

  select {
    /* remove default caret */
    margin: 0;
    -webkit-appearance: none; /* webkit browsers */
    -moz-appearance: none; /* firefox */
    appearance: none; /* modern browsers */
    width: 100%;
    letter-spacing: 0.0275rem;
  }
  
  select::-ms-expand {
    display: none; /* remove default caret for ie */
  }
}
