.AddToCartContainer {
  &__variant-selector-wrapper, &__quantity-selector-wrapper {    
      &::after {
        content: "▼";
        font-size: 1rem;
        pointer-events: none; /* ▼ click triggers dropdown */
        position: absolute;
        right: 1.125rem;
        top: 0.6rem;
        z-index: 1;
    }
  }

  select {
    /* remove default caret */
    -webkit-appearance: none; /* webkit browsers */
    -moz-appearance: none; /* firefox */
    appearance: none; /* modern browsers */
    width: 100%;
    letter-spacing: 0.0275rem;
  }
  
  select::-ms-expand {
    display: none; /* remove default caret for ie */
  }
}
