$cart-header-offset: 1px;

.Cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: all 250ms ease-in-out;

  &__header {
    height: $nav-height;

    @include media('md-up') {
      height: calc(#{$nav-height-md} - #{$cart-header-offset});
    }

    @include media('lg-xl-up') {
      height: calc(#{$nav-height-lg-xl} - #{$cart-header-offset});
    }
  }

  &__close-icon {
    position: relative;
    font-size: 3rem;
    top: 1.25px;

    @include media('lg-xl-up') {
      font-size: 5rem;
      top: 2px;
    }
  }

  &__inner {
    height: calc(100% - #{$nav-height});

    &:after {
      content: "";
      display: block;
      height: $cart-checkout-container-height;
      width: 100%;
    }

    @include media('md-up') {
      height: calc(100% - #{$nav-height-md});
    }

    @include media('lg-up') {
      &:after {
        height: $cart-checkout-container-height-lg;
      }
    }

    @include media('lg-xl-up') {
      height: calc(100% - #{$nav-height-lg-xl});
    }
  }

  &__checkout-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateX(100%);
  }

  &[data-active="true"] {
    transform: translateX(0);

    .Cart__checkout-container {
      transform: translateX(0);
    }
  }
}
