.Cart {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  transform: translateX(100%);
  transition: all 250ms ease-in-out;

  &__header {
    height: $nav-height;

    @include media('md-up') {
      height: $nav-height-md;
    }

    @include media('xl-up') {
      height: calc(#{$nav-height-xl} - 1px);
    }
  }

  &__close-icon {
    font-size: 3rem;

    @include media('xl-up') {
      font-size: 5rem;
    }
  }

  &__inner {
    height: calc(100% - #{$nav-height});
    padding-bottom: $cart-checkout-container-height;

    @include media('md-up') {
      height: calc(100% - #{$nav-height-md});
    }

    @include media('xl-up') {
      height: calc(100% - #{$nav-height-xl});
    }
  }

  &__checkout-container {
    width: 100%;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    transform: translateX(100%);
  }

  &[data-active="true"] {
    transform: translateX(0);

    .Cart__checkout-container {
      transform: translateX(0);
    }
  }
}
