.CollectionLinks {
  &__button {
    @include lhCrop(1); //line-height: 1
    font-family: $sans-serif;
    font-size: 3.125rem;
    line-height: 3.4375rem;
    letter-spacing: -0.001875rem;

    @include media('lg-up') {
      @include lhCrop(1.2); //line-height: 1.1
    }
  }
}
