.EmailSubscribe {
  @extend %transition;
  position: relative;
  height: 1.911875rem;
  top: -0.2rem;
  background-color: color('black');

  @include media('md-up') {
    min-width: 30%;
  }

  @include media('lg-up') {
    // top: -0.9rem;
    top: -0.8rem;
    height: 3.66875rem;
    border-radius: radius('sm');
    min-width: 45%;
  }

  @include media('xl-up') {
    min-width: 35%;
  }

  /**
    Validation Error, or 
    failed request state
  */
  &[data-subscribe-state='error'] {
    background-color: color('red');

    .EmailSubscribe__input, .EmailSubscribe__submit {
      pointer-events: none;
    }
  }

  /**
    Already subscribed, or
    sucessfull response state
  */
  &[data-subscribe-state='success'] {
    background-color: color('green');

    .EmailSubscribe__input {
      pointer-events: none;

      &::placeholder {
        color: color('white');
      }
    }

    .EmailSubscribe__submit {
      pointer-events: none;
    }
  }

  &__input, &__submit {
    font-size: 1rem;
    letter-spacing: 0.0275rem;
  
    @include media('lg-up') {
      font-size: 1.875rem;
    }
  }

  &__input {
    height: 100%;
    border: none;
    //Makes input seem centered visually
    margin-top: 0.25rem;

    &::placeholder {
      color: color('white');
    }
  }

  &__submit {
    position: relative;
    border: none;
    height: 100%;
  }

  &__label {
    width: 4rem;

    @include media('lg-up') {
      width: 7rem;
    }
  }

  &__glyph {
    line-height: 1.1;

    @include media('sm-up') {
      line-height: 3.5rem;
    }

    @include media('lg-up') {
      line-height: 1.1;
    }
  }

  &__loader {
    line-height: 50%;

    @include media('sm-up') {
      line-height: 1.1;
    }

    @include media('lg-up') {
      line-height: 50%;
    }
  }
}
