.EmailSubscribe {
  @extend %transition;
  position: relative;
  height: 1.911875rem;
  top: -0.2rem;
  background-color: color('black');

  @include media('md-up') {
    min-width: 80%;
  }

  @include media('lg-up') {
    height: 3.668125rem;
    min-width: 50%;
    border-radius: radius('sm');
  }

  /**
    Validation Error, or 
    failed request state
  */
  &[data-subscribe-state='error'] {
    background-color: color('red');

    .EmailSubscribe__submit {
      pointer-events: none;
    }
  }

  /**
    Already subscribed, or
    sucessfull response state
  */
  &[data-subscribe-state='success'] {
    background-color: color('green');

    .EmailSubscribe__input {
      &::placeholder {
        color: color('white');
      }
    }

    .EmailSubscribe__submit {
      pointer-events: none;
    }
  }

  &__input {
    height: 100%;
    border: none;
    font-size: 1.875rem;
    line-height: 1.6875rem;
    padding-top: 0.1rem;

    &::placeholder {
      color: color('white');
    }

    @include media('lg-up') {
      padding-top: 0.325rem;
      font-size: 4.0625rem;
      line-height: 3.65625rem;
    }
  }

  &__submit {
    cursor: pointer;
    height: 100%;
    border: none;
    width: 1.625rem;
    font-size: 1.875rem;
    line-height: 1.6875rem;
    
    @include media('lg-up') {
      font-size: 4.0625rem;
      line-height: 3.65625rem;
      width: 4.1875rem;
    }
  } 

  &__glyph {
    top: 0.6rem;
    line-height: 2rem;

    @include media('md-up') {
      line-height: 3rem;
    }

    @include media('lg-up') {
      line-height: 3.75rem;
    }
  }
}
