.Footer {
  padding-top: 15.625rem;
  line-height: 2.1rem;
  font-size: 2rem;

  @include media('sm-up') {
    padding-top: 26rem;
  }
  
  @include media('lg-up') {
    font-size: 4.6875rem;
    line-height: 4.6875rem;
  }

  @include media('xl-up') {
    padding-top: 28rem;
  }

  &__button {
    font-family: $sans-serif;
    font-size: 1.875rem;
    line-height: 1.6875rem;
    padding: 0.2rem 0.25rem 0 0.2rem;
    @include lhCrop(1); //line-height: 1

    @include media('lg-up') {
      padding-top: 0.325rem;
      font-size: 4.0625rem;
      line-height: 3.65625rem;
      @include lhCrop(1.1); //line-height: 1.1
    }
  }
}
