.Footer {
  padding-top: 15.625rem;
  
  @include media('md-up') {
    padding-top: 6.875rem;
  }

  &__button {
    font-family: $gt-zirkon;
    font-size: 2.5rem;
    line-height: 2.625rem;

    @include media('md-up') {
      font-size: 4.0625rem;
      line-height: 3.65625rem;
    }
  }
}
