.HomeHeader {
  padding-bottom: 4.375rem;
  
  &__button {
    font-family: $abc-diatype;
    font-size: 2.5rem;
    line-height: 2.625rem;

    @include media('lg-up') {
      font-size: 4.0625rem;
      line-height: 3.65625rem;
    }
  }
}
