.ImageCaptionModule {
  // Break out of site padding on the container.
  &--style-full-bleed {
    margin-left: -$site-padding-x-mobile;
    margin-right: -$site-padding-x-mobile;
    width: 100vw;
    position: relative;
    max-width: 100vw;

    @include media("md-up") {
      margin-left: -$site-padding-x-desktop;
      margin-right: -$site-padding-x-desktop;
    }
  }

  &__images {
    &--style-two-up {
      max-height: 10rem;

      div:not(:last-of-type) {
        margin-right: 0.6875rem;

        @include media("md-up") {
          margin-right: 1.9375rem;
        }
      }

      @include media("xs-up") {
        max-height: 15rem;
      }

      @include media("md-up") {
        max-height: 20rem;
      }

      @include media("lg-up") {
        max-height: 30rem;
      }
    }
  }
}
