.KnowledgeAreaMarkdown {
  padding-bottom: 3.125rem;
    
  @include media ('lg-up') {
    padding-bottom: 12.5rem;
  }

  h1, h2, h3, p {
    font-family: $serif;
  }

  h2 {
    font-size: 2.5rem;
    line-height: 2.625rem;
    padding-bottom: 2.5rem;

    @include media('lg-up') {
      font-size: 3.125rem;
      line-height: 2.8125rem;
    }
  }

  p {
    @extend %serif-sm;

    @include media('lg-up') {
      font-size: 2.5rem;
      line-height: 2.625rem;
    }
  }
}
