.Markdown {
  h1, h2, h3, p, ol, ul {
    font-family: $serif;
  }

  h4, h5, h6 {
    font-family: $sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    padding-bottom: 1.5rem;
    padding-top: 2rem;

    @include media('lg-up') {
      padding-top: 0;
      padding-bottom: 2.8125rem;
    }
  }

  h1  {
    @extend %serif-mega;
  }

  h2  {
    @extend %serif-xl;
  }

  h3  {
    font-size: 1.7rem;
    line-height: 1.8rem;

    @include media('lg-up') {
      font-size: 2.5rem;
      line-height: 2.625rem;
    }
  }

  h4, h5, h6 {
    text-transform: uppercase;
  }

  h4 {
    @extend %sans-light-md;
  }

  h5, h6 {
    @extend %sans-light-sm;
  }

  ul, ol {
    list-style-position: inside;
  }
  
  ul {
    list-style-type: none;

    li {
      &::before {
        content: "-";
        margin-right: 0.625rem;
      }
    }
  }

  table {
    width: calc(100vw - #{$site-padding-x-mobile-double});

    @include media('md-up') {
      width: calc(100vw - #{$site-padding-x-desktop-double});
    }

    border-collapse: collapse;
    border-top: 1px solid color('black');
    border-bottom: 1px solid color('black');

    tr {
      &:not(:last-of-type) {
        border-bottom: 1px solid color('black');
      }

      td {
        vertical-align: middle;
        padding: 1.25rem 0;

        @include media('lg-up') {
          padding: 1.6875rem 0;
        }

        &:first-child {
          padding-right: 2rem;
          font-family: $serif;
          font-size: 1.125rem;
          line-height: 1.35rem;
          letter-spacing: 0.0275rem;

          @include media('lg-up') {
            font-size: 3.125rem;
            line-height: 2.8125rem;
          }
        }

        &:last-child {
          font-family: $sans-serif;
          @extend %sans-xs;

          @include media('lg-up') {
            font-size: 1.875rem;
            line-height: 1.6875rem;
          }
        }
      }
    }
  }
  
  /* Pages Styling */

  /* White Background Pages are usually used for the About Page and have larger text and different button styling than the Black Background pages. */
  &--style-white-bg {
    h1, h2, h3, p, ul, ol {
      font-family: $serif;
    }
  
    h2 {
      @extend %serif-xl;
    }
  
    p, ol, ul {
      @extend %serif-xl;
    
      a {
        @extend %button--style-primary;
        font-family: $sans-serif;
        font-size: 2.5rem;
        line-height: 2.625rem;
        
        @include media('lg-up') {
          font-size: 4.0625rem;
          line-height: 3.65625rem;
        }
      }
    
      @include media('lg-up') {
        font-size: 4.6875rem;
        line-height: 4.6875rem;
      }
    }
  }

  &--style-black-bg {
    h1 {
      @extend %serif-mega;
    }

    h2 {
      @extend %serif-xl;
    }

    p, ol, ul, td {
      font-size: 1.7rem;
      line-height: 1.8rem;
      margin-bottom: 1.5rem;

      /* Adds bottom border to links with additional padding between text and border */
      a {
        text-decoration: none;
        position: relative;

        &:after {
          content: '';
          width: 100%;
          position: absolute;
          left: 0;
          bottom: 0;
          border-width: 0 0 0.12rem;
          border-style: solid;
          border-color: currentColor;

          @include media('lg-up') {
            bottom: 0.3rem;
          }
        }
      }

      @include media('lg-up') {
        margin-bottom: 5.625rem;
        font-size: 2.5rem;
        line-height: 2.625rem;
      }
    }

    table {
      border-top: 1px solid color('white');
      border-bottom: 1px solid color('white');

      tr {
        &:not(:last-of-type) {
          border-bottom: 1px solid color('white');
        }
      }
    }
  }
}
