.Nav {
  @include media('xl-up') {
    height: $nav-height-xl;
  }

 &__button  {
  @extend %transition-short; 

  &:hover, &--active {
    background-color: color('black');
    color: color('white');
   }
 }
}

.MobileNav {
  &__icon img {
    width: 1.8125rem;
    height: 1.3125rem;
  }
  
  &__menu {
    @extend .transition;
    opacity: 0;
    pointer-events: none;
  }

  &__menu {
    border-left: solid $site-border color('white');
  }

  &[data-active="true"] {
    .MobileNav__close-icon {
      opacity: 1;
      pointer-events: all;
    }

    .MobileNav__menu {
      opacity: 1;
      pointer-events: all;
    }

    .MobileNav__menu-links {
      a {
        @include stagger-nav-transition;
        pointer-events: all!important;

        &:not(:last-of-type) {
          margin-bottom: 1.875rem;
        }
      }
    }
  }
}
