.Nav {
 a {
   @extend %transition-short; 

   &:hover {
    color: lighten(black, 25%);
   }
 }

 &__button--active {
  background-color: color('black');
  color: color('white');
  border-radius: radius('xs');
  padding: 0.25rem 0.25rem;

  @include media('md-up') {
    padding: 0 0.25rem;
  }
  @include media('xl-up') {
    border-radius: radius('sm');
  }
 }

}

.MobileNav {
  &__icon {
    padding-left: 0.5625rem;
    max-height: 1.281875rem;
  }
  
  &__menu {
    opacity: 0;
    pointer-events: none;
  }

  &[data-active="true"] {
    .MobileNav__menu {
      opacity: 1;
      pointer-events: all;
    }
  }
}
