.NewsFeedItem {
  min-width: 40rem;
  padding-right: $site-padding-x-mobile;

  a {
    &:hover {
      color: lighten(black, 25%);
    }
  }

  &__image {
    width: 3.4375rem;
    height: 3.4375rem;

    @include media('md-up') {
      width: 4rem;
      height: 4rem;
    }
  }

  &__body {
    @extend %serif-xs;

    @include media('md-up') {
      font-size: 3.125rem;
      line-height: 2.8125rem;
      min-width: 55rem;
    }
  }

  &__third-column p, &__third-column p a {
    @include media('md-up') {
      font-size: 1.875rem;
      line-height: 1.6875rem;
      font-weight: 300;
    }
  }
}
