@import "~nouislider/dist/nouislider.css";

$noUi-css-prefix: noUi;
$slider-height: 16px;

$handle-diameter: (
  xs-up: 80px,
  md-up: 160px,
);

$handle-radius: (
  xs-up: map-get($handle-diameter, xs-up) / 2,
  md-up: map-get($handle-diameter, md-up) / 2,
);

$slider-padding: (
  xs-up: 0 map-get($handle-diameter, xs-up) / 2,
  md-up: 0 map-get($handle-diameter, md-up) / 2,
);

$pips-container-width: (
  xs-up: calc(100% - #{map-get($handle-diameter, xs-up)}),
  md-up: calc(100% - #{map-get($handle-diameter, md-up)}),
);

.PatronSlider {
  border-radius: radius("sm");

  @include media("md-up") {
    padding: 2rem 8rem;
  }

  p {
    max-width: 100%;

    @include media("md-up") {
      max-width: 60%;
    }

    @include media("lg-xl-up") {
      max-width: 40%;
    }
  }

  &__TierInfo {
    min-height: 260px; // Prevent container height jump
  }

  &__SliderContainer {
    align-items: center;
    display: flex;
    height: map-get($handle-diameter, xs-up);
    width: 100%;

    @include media("md-up") {
      height: map-get($handle-diameter, md-up);
    }

    @include media("lg-xl-up") {
      width: 60%;
    }
  }

  &__PatronLink {
    &:hover {
      background-color: color('white');
      color: color('black');
    }
  }
}

.#{$noUi-css-prefix}-horizontal {
  height: 16px;
  width: 100%;

  &.#{$noUi-css-prefix}-target {
    border: none;
    border-radius: radius("md");
    box-shadow: none;
    padding: map-get($slider-padding, xs-up);

    @include media("md-up") {
      padding: map-get($slider-padding, md-up);
    }
  }

  .#{$noUi-css-prefix}-pips,
  .#{$noUi-css-prefix}-pips-horizontal {
    align-items: center;
    cursor: pointer;
    display: flex;
    left: map-get($handle-radius, xs-up);
    top: -32px;
    width: map-get($pips-container-width, xs-up);

    @include media("md-up") {
      left: map-get($handle-radius, md-up);
      width: map-get($pips-container-width, md-up);
    }
  }

  .#{$noUi-css-prefix}-marker,
  .#{$noUi-css-prefix}-marker-horizontal.#{$noUi-css-prefix}-marker,
  .#{$noUi-css-prefix}-marker-horizontal.#{$noUi-css-prefix}-marker-large {
    background: color("black");
    height: $slider-height;
    margin-left: $slider-height / 2;
    width: $slider-height / 3;

    &-normal {
      display: none;
    }
  }

  .#{$noUi-css-prefix}-value {
    display: none;
  }

  .#{$noUi-css-prefix}-slider {
    height: map-get($handle-diameter, xs-up);
    width: 100%;

    @include media("md-up") {
      height: map-get($handle-diameter, md-up);
    }
  }

  .#{$noUi-css-prefix}-handle,
  .#{$noUi-css-prefix}-horizontal .#{$noUi-css-prefix}-handle {
    background: color("emerald");
    border: none;
    border-radius: 100%;
    box-shadow: none;
    cursor: pointer;
    height: map-get($handle-diameter, xs-up);
    overflow: hidden;
    right: map-get($handle-radius, xs-up) * -1;
    top: ((map-get($handle-diameter, xs-up) - $slider-height) * -1) / 2;
    width: map-get($handle-diameter, xs-up);

    @include media("md-up") {
      height: map-get($handle-diameter, md-up);
      top: ((map-get($handle-diameter, md-up) - $slider-height) * -1) / 2;
      width: map-get($handle-diameter, md-up);
      transition: transform $transition-duration-shorter
        $transition-cubic-bezier;
      zoom: 1;

      &:hover {
        transform: rotate(30deg);
      }
    }

    @include media("md-up") {
      right: map-get($handle-radius, md-up) * -1;
    }

    &::before {
      content: attr(data-before);

      position: absolute;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 100%;
      height: auto;
      left: 0;
      top: 0;
      right: 0;
      bottom: 50%;

      border: none;
      border-radius: 100%;
      background: #2cad60;

      font-size: 1.25rem;
      line-height: 1;

      @include media("md-up") {
        font-size: 1.875rem;
        line-height: 1;
      }
    }

    &::after {
      content: attr(data-after);
      position: absolute;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      width: 100%;
      height: auto;
      border: none;
      border-radius: 100%;
      background: transparent;
      left: 0;
      top: 50%;
      right: 0;
      bottom: 0;
      padding-top: 0;

      @extend .sans-xxs;

      @include media("md-up") {
        padding-top: 0.5rem;
        font-size: 1rem;
        line-height: 1.171875rem;
        letter-spacing: 0.0275rem;
      }
    }
  }
}
