.ProductImagesSlider {
  &__img {
    @include media('md-up') {
      max-height: 35rem;
    }

    @include media('xl-up') {
      max-height: 40rem;
    }
  }

  .splide__arrow--override {
    position: absolute;
    z-index: 1;
    opacity: 0;
  }

  .splide__arrow--prev {
    top: 0;
    right: 50%;
    bottom: 0;
    left: 0;
    width: 50%;
  }

  .splide__arrow--next {
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    width: 50%;
  }
}
