.ProductImagesSlider {
  /** Fixes overflow issues */
  overflow: hidden;
  min-width: 100%;
  width: 0;

  &__img-container {
    display: flex!important;
  }

  &__img {
    max-height: 16rem;

    @include media('sm-up') {
      max-height: 28rem;
    }

    @include media('md-up') {
      max-height: 35rem;
    }

  }
}

.slick-track {
  display: flex;
}

.slick-slide { 	
  position: relative;
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;

  > div:first-of-type {
    height: 100%;
    width: 100%;
  }
}
