.ProductImagesSlider {
  &__img {
    @include media('md-up') {
      max-height: 35rem;
    }

    @include media('xl-up') {
      max-height: 40rem;
    }
  }
}

/**
  Prevents black flash
  seen on certain browsers when 
  changin slides

  See: https://github.com/Splidejs/splide/issues/220
*/
.splide__list {
  margin: 0 !important;
  padding: 0 !important;
  height: 100%;
  display: flex;
  width: -webkit-max-content;
  width: max-content;
  will-change: transform;
}

.splide__track > .splide__list > .splide__slide {
  width: 100%;
  transform: translate3d(0px,0,0);
  -webkit-transform: translate3d(0px,0,0);
  -moz-transform: translate3d(0px,0,0);
  -ms-transform: translate3d(0px,0,0);
  -o-transform: translate3d(0px,0,0);
  will-change: inherit;
}
  
.splide__list > .splide__slide:first-child {
  z-index: 2;
}
