$product-detail-height: 3.25rem;

.ProductInfoBar {
  background-color: color('black');
  position: sticky;
  top: calc(#{$nav-height} - #{$product-detail-height});
  
  @include media('md-up') {
    top: $nav-height-md;
  }

  @include media('lg-up') {
    top: $nav-height-lg;
  }

  &__product-details {
    @include media('md-up') {
      border-bottom: 0;
    }
  }

  &__type {
    &::after {
      content: '';
      display: block;
      height: 0;
      width: 0;
      margin-bottom: (calc((1 - 1.13) * 0.5em));
    }
  }

  &__add-to-cart-container {
    @include media('md-up') {
      padding-right: 0.62rem;
    }

    @include media('lg-up') {
      padding-right: 0.5rem;
    }

    @include media('xl-up') {
      padding-right: 0.75rem;
    }
  }
}
